<div class="meta-sidebar">
    <ul class="meta-sidebar__list">
        <li class="meta-sidebar__list-item">
            <a class="meta-sidebar__link"
               href="{% url 'staticpage' slug='impressum' %}"
               title="Impressum">Impressum</a>
        </li>

        <li class="meta-sidebar__list-item">
            <a class="meta-sidebar__link"
               href="{% url 'staticpage' slug='impressum' %}"
               title="Datenschutz">Datenschutz</a>
        </li>

        <li class="meta-sidebar__list-item">
            <a class="meta-sidebar__link"
               href="https://www.roaringbears.de/mitgliedschaft/Roaring_Bears_e.V._-_Satzung_2023-06-16.pdf"
               title="Satzung"
               target="_blank"
               rel="noopener noreferrer">Satzung</a>
        </li>

        <li class="meta-sidebar__list-item">
            <a class="meta-sidebar__link"
               href="https://www.roaringbears.de/mitgliedschaft/Roaring_Bears_e.V._-_Aufnahmeantrag_DSV.pdf"
               title="Aufnahmeantrag"
               target="_blank"
               rel="noopener noreferrer">Aufnahmeantrag</a>
        </li>

        <li class="meta-sidebar__list-item">
            <a class="meta-sidebar__copyright">© 2024 Roaring Bears</a>
        </li>
    </ul>
</div>
