
.idea/

ckw_csgomatches.egg-info/

*.pyc

csgomatches/utils/scrapers/push_credentials.txt

csgomatches/utils/publishing/twitter_credentials.txt

csgomatches/utils/scrapers/proxies.json
csgomatches/utils/scrapers/proxies*.json
