beautifulsoup4==4.12.3
bs4==0.0.2
Django==5.1.1
django-ical==1.9.2
django-polymorphic==3.1.0
django-recurrence==1.11.1
djangorestframework==3.15.2
icalendar==5.0.13
python-dateutil==2.9.0.post0
pymemcache==4.0.0
python-telegram-bot==21.5
python-twitter==3.5
requests==2.32.3
setuptools==78.1.0
twitchAPI==4.4.0
