aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altgraph==0.17.5
asgiref==3.11.0
attrs==25.4.0
beautifulsoup4==4.14.3
bidict==0.23.1
bs4==0.0.2
certifi==2026.1.4
charset-normalizer==3.4.4
-e git+https://github.com/ckarrie/ckw-csgo/@a145c06274c90bcb86ee1cd978ea5df0b5ec9acb#egg=ckw_csgomatches
colorlog==6.10.1
Django==6.0.4
django-filter==25.2
django-ical==1.9.2
django-recurrence==1.14
djangorestframework==3.16.1
frozenlist==1.8.0
future==1.0.0
h11==0.16.0
icalendar==6.3.2
idna==3.11
multidict==6.7.0
netifaces==0.10.6
oauthlib==3.3.1
packaging==26.0
propcache==0.4.1
psycopg2-binary==2.9.11
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pymemcache==4.0.0
python-dateutil==2.9.0.post0
python-engineio==4.13.0
python-socketio==5.16.0
python-twitter==3.5
random-user-agent==1.0.1
requests==2.32.5
requests-oauthlib==2.0.0
setuptools==80.10.1
simple-websocket==1.1.0
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2
yarl==1.22.0
