.archive {
	background-color: var(--color-dark-700);
	padding: 20px 40px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 16px 32px;

		@include medium() {
			justify-content: end;
		}
	}

	&__list-item {
		display: block;
		&:first-child {
			margin-right: auto;
			width: 100%;

			@include medium() {
				width: auto;
			}
		}
	}

	&__link {
		text-decoration: none;

		&.is-active {
			font-weight: 600;
		}

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 2px;
		}
	}
}
