.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 32px 16px;
	width: calc(100% - (var(--padding-inline) * 2));
	max-width: calc(var(--content-max-width));
	background-color: var(--color-dark-700);
	padding: 20px 40px;

	@include small() {
	}

	&__headline {
		font-weight: 500;
		font-size: 28px;
		text-transform: uppercase;
		line-height: 1;
	}

	&__link {
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			text-decoration: underline;

			text-decoration-thickness: 1px;
			text-underline-offset: 2px;
		}
	}

	&__big-name {
		font-weight: 800;
	}
}
