.matchday {
	background-color: var(--color-dark-700);
	padding: 28px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__matches {
		position: relative;
		display: none;
		gap: 12px 0;

		@include medium() {
			display: block;
		}
	}

	&__date {
		font-family: 'Radhiumz', Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-size: 28px;
		font-weight: bold;
		line-height: 1;
	}
}
