.match-summary {
	justify-content: center;
	align-items: center;
	padding: 40px 16px;
	gap: 12px;

	@include medium {
		padding-top: 66px;
		padding-bottom: 66px;
	}

	&__team {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}

	&__logo-wrapper {
		background-color: var(--color-dark-800);

		width: 64px;
		height: 64px;
		padding: 13px;

		@include small() {
			width: 100px;
			height: 100px;
			padding: 20px;
		}
	}

	&__logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__name {
		text-align: center;
	}

	&__details {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 150px;
		width: 100%;

		@include small {
			max-width: 200px;
		}

		@include medium {
			max-width: 310px;
		}
	}

	&__date {
		text-align: center;
		color: var(--color-grey-300);
		margin-bottom: 9px;
		font-family: 12px;
	}

	&__score {
		font-family: var(--font-ff-heavy);
		font-size: 28px;
		text-align: center;
		display: flex;
		gap: 20px;
		line-height: 0.9;

		@include medium {
			font-size: 48px;
		}
	}

	&__best-of {
		margin-top: 4px;
		text-align: center;
		color: var(--color-grey-300);
	}
}
