.matchrow-cell {
	display: flex;
	align-items: center;
	background-color: var(--color-dark-800);
	height: 72px;

	&--first {
		border-top-left-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
		padding-left: 10px;
	}

	&--last {
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		padding-right: 28px;
	}
}
.matchrow {
	&__game-logo-wrapper {
		position: relative;

		width: 47px;
		height: 30px;
		margin-right: 11px;

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 2px;
			height: 48px;
			top: 50%;
			right: -11px;
			transform: translateY(-50%);
			background-color: var(--color-grey-400);
		}
	}

	&__game-logo {
		width: 100%;
		height: 100%;
		object-fit: contain;

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-color: var(--color-dark-800);
		}
	}

	&__team {
		display: flex;
		align-items: center;

		gap: 8px;
		width: 120px;
		hyphens: auto;

		&--left {
			text-align: right;
			justify-content: end;
		}

		&--right {
			text-align: left;
		}
	}

	&__team-name {
		font-size: 14px;
		font-weight: 500;
	}

	&__team-logo-wrapper {
		width: 40px;
		height: 40px;
	}

	&__team-logo {
		height: 100%;
		width: 100%;
		object-fit: contain;
		margin-right: 8px;
	}

	&__score-box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 105px;
		height: 40px;
		margin: 0 var(--matchrow-cel-spacing);
		background-color: var(--color-dark-700);
		font-size: 14px;
	}

	&__tournament {
		display: flex;
		align-items: center;
		gap: 12px;
		width: 100%;
		text-align: left;
		padding: 0 var(--matchrow-cel-spacing);
		font-size: 14px;
		text-wrap: balance;
	}

	&__tournament-logo-wrapper {
		width: 40px;
		height: 40px;
		flex-shrink: 0;
	}

	&__tournament-logo {
		height: 100%;
		width: 100%;
		object-fit: contain;
		margin-right: 8px;
	}

	&__status {
		font-size: 14px;
		width: 60px;
		display: flex;
		justify-content: end;
	}

	&__live {
		position: relative;
		padding-left: 10px;
		&:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			animation-name: pulse;
			animation-duration: 2s;
			animation-iteration-count: infinite;

			background: #fa2020;
			box-shadow: 0px 0px 25px var(--color-red);
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
