.navigation {
	display: none;

	@include medium() {
		display: flex;
	}

	&__list {
		display: flex;
		gap: 32px;
	}

	&__link {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}
