{% extends 'csgomatches/base/base.html' %}

{% load static %}

{% block page_title %}
    {{ csmatch }} - {{ csmatch.first_map_at|date:"SHORT_DATE_FORMAT" }} - {{ csmatch.tournament.name }} - Matchdetails - Wann spielt BIG?
{% endblock %}

{% block meta %}
    {% if csmatch.is_live %}
        {% if update_seconds %}
            <meta http-equiv="refresh" content="{{ update_seconds }}">
        {% endif %}
    {% elif csmatch.is_upcoming %}
        <meta http-equiv="refresh" content="60">
    {% endif %}
{% endblock %}

{% block content_header_h1 %}
    <a href="{% url 'match_upcoming' %}">Wann spielt <span class="white">BIG</span>?</a>
{% endblock %}

{% block content %}
    <div class="matches">
        <h2>
            <span class="bo">{{ csmatch.first_map_at|date:'d.m.y H:i' }}</span>
            <span class="team_a">{{ csmatch.lineup_a.team }}</span>
            {% if csmatch.lineup_b %}
                <span class="{% if csmatch.team_a_won %}map_win{% elif csmatch.team_b_won %}map_loss{% elif csmatch.is_draw %}map_draw{% endif %}">{{ score.0 }}</span>:
                <span class="{% if csmatch.team_a_won %}map_loss{% elif csmatch.team_b_won %}map_win{% elif csmatch.is_draw %}map_draw{% endif %}">{{ score.1 }}</span>
                <span class="team_b">{{ csmatch.lineup_b.team }}</span>
            {% else %}
                at {{ csmatch.tournament.name }}
            {% endif %}

            <small class="hide-on-small">
                {{ csmatch.tournament.name }}
            </small>

        </h2>
        <h3 class="hide-on-large">{{ csmatch.tournament.name }}</h3>

        {% include 'csgomatches/blocks/box_matchrow_detail.html' %}

        {% if csmatch.lineup_a and csmatch.lineup_a.lineupplayer_set.exists %}
            <div class="lineup_a_box">
                <h4>{% if csmatch.lineup_a.game %}{{ csmatch.lineup_a.game.name }}-{% endif %}Lineup {{ csmatch.lineup_a.team.name }}</h4>
                {% for lp in csmatch.lineup_a.lineupplayer_set.all %}
                    <code title="{{ lp.player.first_name }} {{ lp.player.last_name }}">{{ lp.player.ingame_name }}</code>
                {% endfor %}
            </div>

        {% endif %}

        {% if csmatch.lineup_b and csmatch.lineup_b.lineupplayer_set.exists %}
            <div class="lineup_b_box">
                <h4>Lineup {{ csmatch.lineup_b.team.name }}</h4>
                {% for lp in csmatch.lineup_b.lineupplayer_set.all %}
                    <code title="{{ lp.player.first_name }} {{ lp.player.last_name }}">{{ lp.player.ingame_name }}</code>
                {% endfor %}
            </div>
        {% endif %}

        {% with matchlinks=csmatch.externallink_set.visible %}
            {% if matchlinks.exists %}

                <div class="matchlinks-details">
                    <h4>Links:</h4>
                    <dl>
                    {% for link in csmatch.externallink_set.visible %}
                        {% ifchanged link.link_flag %}
                            <dt>
                            <img src="{% static link.get_flag_url %}" class="flag">
                            </dt>
                        {% else %}

                        {% endifchanged %}
                        <dd>
                        <a href="{{ link.url }}" target="_blank" title="{{ link.get_link_type_display }}: {{ link.title }} ({{ link.url }})" class="{% if link.link_type == 'twitch_cast' %}twitch_cast{% endif %}">
                            <code>{{ link.get_link_type_display }} ({{ link.title }})</code>
                        </a>
                        </dd>

                    {% endfor %}
                    </dl>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <p>&nbsp;</p>
{% endblock %}

{% block navigation %}
    <ul class="navigation">
        <li class="active"><a href="{% url 'match_upcoming' %}">Kommende Matches</a></li>
    </ul>
{% endblock %}

{% block footer_0 %}
    <p style="font-size: small">
        Update-Intervall:
        {% for c in update_choices %}
            <a href="{{ csmatch.get_absolute_url }}?update={{ c }}" class="{% if update_seconds == c %}active{% endif %}">{% if c == 0 %}Aus{% else %}{{ c }}s{% endif %}</a>
            {% if not forloop.last %} | {% endif %}
        {% endfor %}
    </p>
{% endblock %}
