{% extends 'csgomatches/base/base.html' %}

{% load static %}

{% block page_title %}
    BIG Livestreams
{% endblock %}

{% block meta %}
    {% if update_seconds %}
        <meta http-equiv="refresh" content="{{ update_seconds }}">
    {% endif %}
{% endblock %}

{% block content_header_h1 %}
    <a href="{% url 'match_upcoming' %}">Wann spielt <span class="white">BIG</span>?</a>
{% endblock %}

{% block content %}
    <div class="matches">
        <h2><span style="color: #dc7282">BETA</span> Faceit Livestreams
            <small>FPL EU, FPL NA, UK Invite, UKPL, GPL, GCS, LEGENDS</small>
        </h2>

        <div class="row">

            {% for match_dict in livestreams_list %}

                <div class="matchmapbox live">
                    {% if match_dict.avatar %}
                        <img style="width: 100%" src="{{ match_dict.avatar }}"/>
                    {% endif %}
                    <p>Players: {% for player in match_dict.players %}{{ player }}{% endfor %}</p>
                    <p>Streams:
                        {% for twl in match_dict.streams %}
                            <a class="twitch_cast" href="https://twitch.tv/{{ twl }}">{{ twl }}</a>
                        {% endfor %}
                    </p>
                    <p>
                        <small><a href="https://www.faceit.com/en/csgo/room/{{ match_dict.faceit_room_id }}">Faceit room</a></small>
                    </p>
                    <p>
                        <small>Hub: <a href="https://www.faceit.com/en/hub/{{ match_dict.hub_id }}/">{{ match_dict.hub_name|truncatechars:25 }}</a></small>
                    </p>
                    <p>
                        <small>Map: {{ match_dict.map|default:"Map-Veto ausstehend" }}</small>
                    </p>
                </div>


            {% empty %}
                <p>Keine Livestreams zurzeit</p>
            {% endfor %}

        </div>

        <div class="matchlinks-details">
            <h4>Links</h4>

            <dl>
                <dt>Faceit Hubs</dt>
                {% for hid, hub_name in hubs.items %}
                    <dd>
                        <a href="https://www.faceit.com/en/hub/{{ hid }}/"><code>{{ hub_name }}</code></a>
                    </dd>
                {% endfor %}
                <dt>Faceit Players</dt>
                {% for nn in nicknames %}
                    <dd>
                        <a href="https://www.faceit.com/en/players-modal/{{ nn }}"><code>{{ nn }}</code></a>
                    </dd>
                {% endfor %}
            </dl>
        </div>

        <p>&nbsp;</p>

    </div>
{% endblock %}

{% block navigation %}
    <ul class="navigation">
        <li class="active"><a href="{% url 'match_upcoming' %}">Kommende Matches</a></li>
    </ul>
{% endblock %}