{% extends "csgomatches/base/base.html" %}

{% load static %}

{% block page_title %}
    Wann spielt BIG?
    {% with next_match=object_list.first %}
        {% if next_match and current_view == "index" %}
            - Am {{ next_match.first_map_at|date:"d.m.Y H:i" }} {{ next_match.lineup_a.team.name }} gegen {{ next_match.lineup_b.team.name }}
        {% endif %}
    {% endwith %}
{% endblock page_title %}

{% block content %}
    {% for match in object_list %}
        {% if forloop.first %}
            <div class="section matchday">
                <h2 class="section__headline">{% include "csgomatches/partials/relativeDate.html" with date=match.first_map_at %}</h2>
                <div class="matchday__matches">
                {% else %}
                    {% with match.get_previous_match as prev_match %}
                        {% if match.first_map_at|date:"Y-m-d" != prev_match.first_map_at|date:"Y-m-d" %}
                        </div>
                    </div>
                    <div class="section matchday">
                        <h2 class="section__headline">{% include "csgomatches/partials/relativeDate.html" with date=match.first_map_at %}</h2>
                        <div class="matchday__matches">
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% include "csgomatches/blocks/match.html" with match=match %}

                {% if forloop.last %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block bottomContent %}
    <div class="boxed archive">
        <ul class="archive__list">
            <li class="archive__list-item">
                <a class="archive__link {% if current_view == "index" %}is-active{% endif %}"
                   href="{% url "match_upcoming" %}">Kommende Matches</a>
            </li>
            {% for date in date_list %}
                <li class="archive__list-item">
                    <a class="archive__link {% if year.year == date.year %}is-active{% endif %}"
                       href="{% url "match_history" year=date.year %}">{{ date|date:"Y" }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock bottomContent %}
