{% extends 'csgomatches/base/base.html' %}

{% load static %}

{% block page_title %}
    {{ match }} - {{ match.first_map_at|date:"SHORT_DATE_FORMAT" }} - {{ match.tournament.name }} - Matchdetails - Wann spielt BIG?
{% endblock %}

{% block content_header_h1 %}
    <a href="{% url 'match_upcoming' %}">Wann spielt <span class="white">BIG</span>?</a>
{% endblock %}

{% block content %}
    <div class="matches">
        <h2>
            <span class="bo">{{ match.first_map_at|date:'d.m.Y H:i' }}</span>
            <span class="team_a">{{ match.lineup_a.team }}</span>
            {% if match.lineup_b %}
                <span class="{% if match.team_a_won %}map_win{% elif match.team_b_won %}map_loss{% elif match.is_draw %}map_draw{% endif %}">{{ score.0 }}</span>:<span class="{% if match.team_a_won %}map_loss{% elif match.team_b_won %}map_win{% elif match.is_draw %}map_draw{% endif %}">{{ score.1 }}</span>
                <span class="team_b">{{ match.lineup_b.team }}</span>
            {% else %}
                at {{ match.tournament.name }}
            {% endif %}

            <small class="hide-on-small">
                {{ match.tournament.name }}
            </small>

        </h2>
        <h3 class="hide-on-large">{{ match.tournament.name }}</h3>

        {% include 'csgomatches/blocks/box_matchrow_detail.html' %}

        <div class="matchlinks-details">
            <h4>Links:</h4>
            {% for link in match.externallink_set.visible %}
                {% ifchanged link.link_flag %}
                    <img src="{% static link.get_flag_url %}" class="flag">
                {% else %}

                {% endifchanged %}
                <a href="{{ link.url }}" target="_blank" title="{{ link.get_link_type_display }}: {{ link.title }} ({{ link.url }})" class="{% if link.link_type == 'twitch_cast' %}twitch_cast{% endif %}">
                    <code>{{ link.get_link_type_display }} ({{ link.title }})</code>
                </a>
            {% endfor %}
        </div>
    </div>
    <p>&nbsp;</p>
{% endblock %}

{% block navigation %}
    <ul class="navigation">
        <li class="active"><a href="{% url 'match_upcoming' %}">Kommende Matches</a></li>
    </ul>
{% endblock %}