{% extends 'csgomatches/base/base.html' %}

{% block page_title %}
    Wie ging BIG aus? - Matcharchiv {{ month|date:"F" }} {{ month.year }}
{% endblock %}

{% block content %}
    <div class="content-header">
        <h2>Match-Archiv {{ month|date:"F" }} {{ month.year }}</h2>
    </div>
    <div class="matches">
        {% for match in object_list %}
            {% include 'csgomatches/blocks/match.html' %}
        {% empty %}
            <div class="row">
                <p>Keine Matches im Archiv von {{ month|date:"F" }} {{ month.year }} gefunden.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}