{% load static %}

<link rel="shortcut icon" href="{% static 'csgomatches/favicons/dark/favicon.ico' %}" media="(prefers-color-scheme: light)" />
<link rel="icon" href="{% static 'csgomatches/favicons/dark/cropped-big-fav-32x32.png' %}" sizes="32x32" media="(prefers-color-scheme: light)" />
<link rel="icon" href="{% static 'csgomatches/favicons/dark/cropped-big-fav-192x192.png' %}" sizes="192x192" media="(prefers-color-scheme: light)" />
<link rel="apple-touch-icon" href="{% static 'csgomatches/favicons/dark/cropped-big-fav-180x180.png' %}" media="(prefers-color-scheme: light)" />
<meta name="msapplication-TileImage" content="{% static 'csgomatches/favicons/dark/cropped-big-fav-270x270.png' %}" media="(prefers-color-scheme: light)" />

<link rel="shortcut icon" href="{% static 'csgomatches/favicons/light/favicon.ico' %}" media="(prefers-color-scheme: dark)" />
<link rel="icon" href="{% static 'csgomatches/favicons/light/cropped-big-fav-32x32.png' %}" sizes="32x32" media="(prefers-color-scheme: dark)" />
<link rel="icon" href="{% static 'csgomatches/favicons/light/cropped-big-fav-192x192.png' %}" sizes="192x192" media="(prefers-color-scheme: dark)" />
<link rel="apple-touch-icon" href="{% static 'csgomatches/favicons/light/cropped-big-fav-180x180.png' %}" media="(prefers-color-scheme: dark)" />
<meta name="msapplication-TileImage" content="{% static 'csgomatches/favicons/light/cropped-big-fav-270x270.png' %}" media="(prefers-color-scheme: dark)" />
