{% load static %}

<link rel="icon" href="{% static 'csgomatches/favicons/favicon.ico' %}">
<link rel="icon" href="{% static 'csgomatches/favicons/cropped-big-fav-32x32.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'csgomatches/favicons/cropped-big-fav-192x192.png' %}" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'csgomatches/favicons/cropped-big-fav-180x180.png' %}" />
<meta name="msapplication-TileImage" content="{% static 'csgomatches/favicons/cropped-big-fav-270x270.png' %}" />