<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a class="navigation__link" href="/">Counter-Strike</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/">League of Legends</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/">Trackmania</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/">Fortnite</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/">Tekken</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/">Starcraft 2</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/">Quake</a>
        </li>
    </ul>
</nav>
