<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">Counter-Strike</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">League of Legends</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">Trackmania</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">Fortnite</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">Tekken</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">Starcraft 2</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="{% url 'match_upcoming' %}">Quake</a>
        </li>
    </ul>
</nav>
