@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Book.woff2') format('woff2');
	font-weight: 350;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-BookItalic.woff2') format('woff2');
	font-weight: 350;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Roman.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Overused-Grotesk';
	src: url('static/csgomatches/fonts/overused-grotesk/OverusedGrotesk-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Moderniz';
	src: url('static/csgomatches/fonts/moderniz/OverusedGrotesk-Moderniz.otf') format('otf');
	font-weight: 400;
	font-style: normal;
}
