:root {
	--color-white: #fff;

	--color-black: #000;

	--color-dark-800: #1e1e1e;
	--color-dark-700: #151515;
	--color-dark-600: #0b0b0c;

	--color-grey-400: #333333;
	--color-grey-300: #666666;
	--color-grey-200: #d9d9d9;

	--color-blue: #586aea;

	--radius: 10px;

	--gradient-dark: linear-gradient(180deg, var(--color-dark-200) 0%, var(--color-dark-300) 100%);
}
