.meta-sidebar {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 20px;
	}

	&__link {
		text-decoration: none;
		line-height: 1;

		&:hover {
			text-decoration: underline;
		}
	}

	&__link,
	&__copyright {
		display: block;
		color: var(--color-grey-400);
		font-size: 14px;
	}
}
