{% if match.is_upcoming %}
    {% if match.lineup_b %}
        <div class="map_countdown">in {{ match.first_map_at|timeuntil }}</div>
    {% else %}
        <div class="map_countdown">ab ca. {{ match.first_map_at|date:"SHORT_DATE_FORMAT" }}, {{ match.first_map_at|time }} Uhr (kann abweichen)</div>
    {% endif %}
{% elif match.is_live %}
    <div class="map_countdown">
        seit {{ match.first_map_at|timesince }}
        {% if update_seconds %} | <a href="{% url 'match_details' slug=match.slug %}?update={{ update_choices.0 }}">Reload aus</a>
        {% else %} | <a href="{% url 'match_details' slug=match.slug %}?update={{ update_choices.1 }}">Reload an</a>
        {% endif %}
    </div>

{% endif %}

<div class="row detail">
    {% if match.description %}
        <div class="matchmapbox bo{{ match.bestof }} col1">
            {{ match.description|urlize }}
        </div>
    {% endif %}

    {% if match.cancelled %}
        <div class="matchmapbox bo{{ match.bestof }} cancelled">
            {% if match.cancelled == 1 %}
                Defwin für {{ match.lineup_a.team.name }}
            {% elif match.cancelled == 2 %}
                Defwin für {{ match.lineup_b.team.name }}
            {% endif %}
        </div>
    {% else %}
        {% for mm in match.matchmap_set.all %}
            {% include 'csgomatches/blocks/box_matchmap.html' %}
        {% endfor %}
    {% endif %}
</div>