{% load static %}

{% with fmm=match.matchmap_set.first %}
    <h2>
        <a class="matchdetail-link" href="{{ match.get_absolute_url }}" title="Match-Details {{ match }} @ {{ match.tournament.name }}">
            <span class="bo">{% if current_view == 'index' %}{{ match.first_map_at|date:'d.m.' }}<span style="color: #959595">{{ match.first_map_at|date:'y' }}</span> {{ match.first_map_at|date:'H:i' }}{% else %}{{ match.first_map_at|date:'d.m.y H:i' }}{% endif %}</span>
            {% if match.lineup_a.game.team_logo_url %}
                <img src="{{ match.lineup_a.game.team_logo_url }}" alt="{{ match.lineup_a.game.name }}" title="{{ match.lineup_a.game.name }}" style="width: {{ match.lineup_a.game.team_logo_width|default:45 }}px" />
            {% endif %}
            <span class="team_a">{{ match.lineup_a.team }}</span>
            {% if match.lineup_b %}
                vs <span class="team_b">{{ match.lineup_b.team }}</span>
            {% else %}
                <span class="hide-on-small">@ {{ match.tournament.name|truncatewords:3 }}</span>
            {% endif %}
        </a>
        {% if match.lineup_b %}
            <small class="hide-on-small" title="{{ match.tournament.name }}">
                {{ match.tournament.name|truncatewords:3 }}
            </small>
        {% endif %}
        <small style="margin-right: 10px;" class="hide-on-small">
            {% for link in match.externallink_set.visible %}
                {% ifchanged link.link_flag %}
                    <img src="{% static link.get_flag_url %}" class="flag">
                {% else %}

                {% endifchanged %}
                <a href="{{ link.url }}" target="_blank" title="{{ link.get_link_type_display }}: {{ link.title }} ({{ link.url }})" class="{% if link.link_type == 'twitch_cast' %}twitch_cast{% endif %}"><code>{{ link.get_link_type_display }}</code></a>
            {% endfor %}
            {% if user.is_staff %}
                <a class="admin-link" href="{% url 'admin:csgomatches_match_change' match.pk %}">&#x2744;</a>
                {% if match.enable_tweet %}
                    <span class="tweet-enabled" title="Twitter Bot aktiv">&#128038;</span>
                {% else %}
                    <span class="tweet-disabled">&#128038;</span>
                {% endif %}
            {% endif %}
        </small>

    </h2>

    <h3 class="hide-on-large">{{ match.tournament.name }}</h3>

    <div class="hide-on-large matchlinks">
        {% for link in match.externallink_set.all %}
            {% if current_view == 'index' %}
                {% ifchanged link.link_flag %}
                    <img src="{% static link.get_flag_url %}" class="flag">
                {% else %}
                {% endifchanged %}
                <a href="{{ link.url }}" target="_blank" title="{{ link.title }} ({{ link.url }})" class="{% if link.link_type == 'twitch_cast' %}twitch_cast{% endif %}">{{ link.get_link_type_display }}</a>
            {% else %}

                {% if link.link_type != 'twitch_cast' %}
                    <img src="{% static link.get_flag_url %}" class="flag">
                    <a href="{{ link.url }}" target="_blank" title="{{ link.title }} ({{ link.url }})">{{ link.get_link_type_display }}</a>

                {% endif %}
            {% endif %}
        {% endfor %}
    </div>



    {% include 'csgomatches/blocks/box_matchrow.html' %}
{% endwith %}
