.aside {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	@include small() {
		grid-template-columns: 1fr 1fr;
	}

	@include medium() {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include small-lt-large() {
		> * {
			height: auto !important;
		}
	}

	@include large() {
		grid-template-columns: 1fr;
		flex-direction: column;
	}
}
