.aside {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	@include small() {
		grid-template-columns: 1fr 1fr;
	}

	@include medium() {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include large() {
		grid-template-columns: 1fr;
		flex-direction: column;
	}
}
