.grid {
	display: grid;
	max-width: calc(var(--content-max-width) + (var(--padding-inline) * 2));
	width: 100%;
	grid-template-columns:
		var(--padding-inline)
		[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
		[content-end]
		var(--padding-inline);

	& > * {
		grid-column: content;
	}
}
.content-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 100%;

	@include large() {
		grid-template-columns: 1fr 310px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
